<h1>{{category}} Page</p>

{{#if vetVisits}}
    <h2>Vet visits</h2>
    <table>
        <th>
            <td>Date</td><td>Reason</td><td>Diagnosis</td><td>Follow up plan</td>
        </th>
        {{#each vetVisits}}
            <tr>
                <td>{{date}}</td><td>{{reason}}</td><td>{{diagnosis}}</td><td>{{followUp}}</td>
            </tr>
        {{/each}}
    </table>
{{/if}}

{{#if bathroomHabits}}
    <h2>Bathroom visits</h2>
    <table>
        <th>
            <td>Date</td><td>Time</td><td>Location</td>
        </th>
        {{#each bathroomHabits}}
            <tr>
                <td>{{date}}</td><td>{{time}}</td><td>{{location}}</td>
            </tr>
        {{/each}}
    </table>
{{/if}}

{{#if vaccinations}}
    <h2>Vaccination records</h2>
    <table>
        <th>
            <td>Date</td><td>Vaccination name</td><td>Recurrence</td>
        </th>
        {{#each vaccinations}}
            <tr>
                <td>{{date}}</td><td>{{vaccinationName}}</td><td>{{recurrence}}</td>
            </tr>
        {{/each}}
    </table>    
{{/if}}