<div class="vertical-center left-wide-margin opacity-property">

	<img src="/assets/img/doghouse_icon.png" class="title-icon">

	<h1>DoJo:</h1>
	<h4>Dog Journal</h4>

	<br>
	<hr><br>

	{{!-- NEW SECTION --}}

	{{#if petInfo}}
	<h2>Pet Info</h2>

	<a class="nav-button btn btn-success float-right" href="/home" role="button">
		<img src="\assets\img\doghouse_icon - small.png">
	</a>

	<br><br>

	<div class="table-responsive">
		<table class="table table-light">
			<thead class="thead-dark">
				<tr>
					<th>Pet Name</th>
					<th>Breed</th>
					<th>Weight</th>
					<th>Age</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
				<tr data-id={{id}}>
					<td>{{petName}}</td>
					<td>{{breed}}</td>
					<td>{{weight}}</td>
					<td>{{age}}</td>
					<td><img class="deletePetInfo" src="\assets\img\delete_icon.png"></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<br>
	<a class="nav-button btn btn-primary" href="/petinfo/add" role="button">Add Pet Info</a>
	{{/if}}

	{{!-- NEW SECTION --}}

	{{#if vet}}
	<h2>Vet Info</h2>

	<a class="nav-button btn btn-success float-right" href="/home" role="button">
		<img src="\assets\img\doghouse_icon - small.png">
	</a>

	<br><br>

	<div class="table-responsive">
		<table class="table table-light">
			<thead class="thead-dark">
				<tr>
					<th>Hospital</th>
					<th>Vet Name</th>
					<th>Phone Number</th>
					<th>Address</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
				<tr data-id={{id}}>
					<td>{{hospital}}</td>
					<td>{{vetName}}</td>
					<td>{{phoneNumber}}</td>
					<td>{{address}}</td>
					<td><img class="deleteVet" src="\assets\img\delete_icon.png"></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<br>

	<a class="nav-button btn btn-primary" href="/vet/add" role="button">Add Vet Info</a>
	{{/if}}


	{{!-- SECTION --}}

	{{#if vaccinations}}
	<h2>Vaccinations</h2>

	<a class="nav-button btn btn-success float-right" href="/home" role="button">
		<img src="\assets\img\doghouse_icon - small.png">
	</a>

	<br><br>

	<div class="table-responsive">
		<table class="table table-light">
			<thead class="thead-dark">
				<tr>
					<th>Vaccine</th>
					<th>Date Received</th>
					<th>Expires</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
				<tr data-id={{id}}>
					<td>{{vaccineName}}</td>
					<td>{{vaccineDate}}</td>
					<td>{{expires}}</td>
					<td><img class="deleteVaccine" src="\assets\img\delete_icon.png"></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<br>

	<a class="nav-button btn btn-primary" href="/vaccines/add" role="button">Add Vaccine</a>
	{{/if}}


	{{!-- NEW SECTION --}}

	{{#if activityTracker}}
	<h2>Activity Tracker</h2>

	<a class="nav-button btn btn-success float-right" href="/home" role="button">
		<img src="\assets\img\doghouse_icon - small.png">
	</a>

	<br><br>

	<div class="table-responsive">
		<table class="table table-light">
			<thead class="thead-dark">
				<tr>
					<th>Activity Type</th>
					<th>Start/Stop</th>
					<th>When</th>
					<th>Notes</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
				<tr data-id={{id}}>
					<td>{{activityType}}</td>
					<td>{{startOrStop}}</td>
					<td>{{createdAt}}</td>
					<td>{{notes}}</td>
					<td><img class="deleteActivity" src="\assets\img\delete_icon.png"></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<br>

	<a class="nav-button btn btn-primary" href="/activity/add" role="button">Add Activity</a>
	{{/if}}


	{{!-- NEW SECTION --}}

	{{#if dietTracker}}
	<h2>Diet Tracker</h2>

	<a class="nav-button btn btn-success float-right" href="/home" role="button">
		<img src="\assets\img\doghouse_icon - small.png">
	</a>

	<br><br>

	<div class="table-responsive">
		<table class="table table-light">
			<thead class="thead-dark">
				<tr>
					<th>Meal Type</th>
					<th>When</th>
					<th>Notes</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
				<tr data-id={{id}}>
					<td>{{mealType}}</td>
					<td>{{createdAt}}</td>
					<td>{{notes}}</td>
					<td><img class="deleteDiet" src="\assets\img\delete_icon.png"></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<br>

	<a class="nav-button btn btn-primary" href="/diet/add" role="button">Add Meal</a>
	{{/if}}


	{{!-- SECTION --}}

	{{#if pottyTracker}}

	<h2>Potty Tracker</h2>

	<a class="nav-button btn btn-success float-right" href="/home" role="button">
		<img src="\assets\img\doghouse_icon - small.png">
	</a>

	<br><br>

	<div class="table-responsive">
		<table class="table table-light">
			<thead class="thead-dark">
				<tr>
					<th>Potty Type</th>
					<th>When</th>
					<th>Notes</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
				<tr data-id={{id}}>
					<td>{{pottyType}}</td>
					<td>{{createdAt}}</td>
					<td>{{notes}}</td>
					<td><img class="deletePotty" src="\assets\img\delete_icon.png"></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<br>

	<a class="nav-button btn btn-primary" href="/potty/add" role="button">Add Potty Info</a>
	{{/if}}


	{{!-- SECTION --}}

	{{#if hygiene}}

	<h2>Hygiene Info</h2>

	<a class="nav-button btn btn-success float-right" href="/home" role="button">
		<img src="\assets\img\doghouse_icon - small.png">
	</a>

	<br><br>

	<div class="table-responsive">
		<table class="table table-light">
			<thead class="thead-dark">
				<tr>
					<th>Hygiene Type</th>
					<th>When</th>
					<th>Notes</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
				<tr data-id={{id}}>
					<td>{{hygieneType}}</td>
					<td>{{createdAt}}</td>
					<td>{{notes}}</td>
					<td><img class="deleteHygiene" src="\assets\img\delete_icon.png"></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<br>

	<a class="nav-button btn btn-primary" href="/hygiene/add" role="button">Add Hygiene Info</a>
	{{/if}}

	{{!-- NEW SECTION --}}

	{{#if favorites}}
	<a class="nav-button btn btn-success float-right" href="/home" role="button">
		<img src="\assets\img\doghouse_icon - small.png">
	</a>
	<br>
	<h2>Favorites is under construction.</h2>
	{{/if}}

</div>