

<h1>{{category}} Page</p>

{{!-- var routesList = ["petinfo","health", "activity", "diet","potty","hygiene"]; --}}

{{#if petInfo}}
    <h2>Pet Info</h2>

    <a class="nav-button btn btn-primary" href="/petinfo/add" role="button">Add Pet Info</a>

    <table class="table">
	<thead class="thead-dark">
		<tr>
			<th>Pet Name</th>
			<th>Breed/th>
			<th>Weight</th>
			<th>Phone Number</th>
			<th>Age</th>
		</tr>
	</thead>
	<tbody>
		{{!-- Our Handlebars code goes here! --}}

		{{#each data}}
			<tr data-id={{id}}>
				<td>{{petName}}</td>
				<td>{{breed}}</td>
				<td>{{weight}}</td>
				<td>{{age}}</td>
				{{!-- to add delete button later --}}
				{{!-- <td><span class="delete glyphicon glyphicon-remove"></span></td> --}}
			</tr>
		{{/each}}
	</tbody>
</table>
{{/if}}

{{!-- SECTION --}}

{{#if vetInfo}}
    <h2>Vet Info</h2>

    <a class="nav-button btn btn-primary" href="/vetinfo/add" role="button">Add Vet Info</a>

    <table class="table">
	<thead class="thead-dark">
		<tr>
			<th>Hospital</th>
			<th>Vet Name</th>
			<th>Weight</th>
			<th>Phone Number</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		{{!-- Our Handlebars code goes here! --}}

		{{#each data}}
			<tr data-id={{id}}>
				<td>{{hospital}}</td>
				<td>{{vetName}}</td>
				<td>{{phoneNumber}}</td>
				<td>{{address}}</td>
				{{!-- to add delete button later --}}
				{{!-- <td><span class="delete glyphicon glyphicon-remove"></span></td> --}}
			</tr>
		{{/each}}
	</tbody>
</table>
{{/if}}

{{!-- SECTION --}}

{{#if vaccinations}}
    <h2>Vaccinations</h2>

    <a class="nav-button btn btn-primary" href="/vaccinations/add" role="button">Add Vaccination Info</a>

    <table class="table">
	<thead class="thead-dark">
		<tr>
			<th>Vaccines</th>
			<th>Vaccine Date</th>
			<th>Vaccine Expirations</th>
		</tr>
	</thead>
	<tbody>
		{{!-- Our Handlebars code goes here! --}}

		{{#each data}}
			<tr data-id={{id}}>
				<td>{{vaccines}}</td>
				<td>{{vaccineDate}}</td>
				<td>{{expires}}</td>
				{{!-- to add delete button later --}}
				{{!-- <td><span class="delete glyphicon glyphicon-remove"></span></td> --}}
			</tr>
		{{/each}}
	</tbody>
</table>
{{/if}}

{{!-- SECTION --}}

{{#if activityTracker}}
    <h2>Acitivity Tracker</h2>

    <a class="nav-button btn btn-primary" href="/activity/add" role="button">Add Activity Info</a>

    <table class="table">
	<thead class="thead-dark">
		<tr>
			<th>Activity Method</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		{{!-- Our Handlebars code goes here! --}}

		{{#each data}}
			<tr data-id={{id}}>
				<td>{{activityMethod}}</td>
				<td>{{startTime}}</td>
				<td>{{endTime}}</td>
				<td>{{notes}}</td>
				{{!-- to add delete button later --}}
				{{!-- <td><span class="delete glyphicon glyphicon-remove"></span></td> --}}
			</tr>
		{{/each}}
	</tbody>
</table>
{{/if}}

{{!-- SECTION --}}

{{#if hygiene}}
    <h2>Hygiene</h2>

    <a class="nav-button btn btn-primary" href="/hygiene/add" role="button">Add Hygiene Info</a>

    <table class="table">
	<thead class="thead-dark">
		<tr>
			<th>Hygiene Type</th>
			<th>Time Received</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		{{!-- Our Handlebars code goes here! --}}

		{{#each data}}
			<tr data-id={{id}}>
				<td>{{hygieneType}}</td>
				<td>{{timeReceived}}</td>
				<td>{{notes}}</td>
				{{!-- to add delete button later --}}
				{{!-- <td><span class="delete glyphicon glyphicon-remove"></span></td> --}}
			</tr>
		{{/each}}
	</tbody>
</table>
{{/if}}

{{!-- SECTION --}}

{{#if dietTracker}}
    <h2>Diet Tracker</h2>

    <a class="nav-button btn btn-primary" href="/diet/add" role="button">Add Diet Info</a>

    <table class="table">
	<thead class="thead-dark">
		<tr>
			<th>Diet Type</th>
			<th>Meal Time</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		{{!-- Our Handlebars code goes here! --}}

		{{#each data}}
			<tr data-id={{id}}>
				<td>{{dietType}}</td>
				<td>{{mealTime}}</td>
				<td>{{notes}}</td>
				{{!-- to add delete button later --}}
				{{!-- <td><span class="delete glyphicon glyphicon-remove"></span></td> --}}
			</tr>
		{{/each}}
	</tbody>
</table>
{{/if}}