<h1>{{category}} Page</p>

{{!-- var routesList = ["petinfo","health", "activity", "diet","potty","hygiene"]; --}}

{{#if petInfo}}
    <h2>Pet Info</h2>

    <a class="nav-button btn btn-primary" href="/petinfo/add" role="button">Add Pet Info</a>

    <table class="table">
	<thead class="thead-dark">
		<tr>
			<th>Pet Name</th>
			<th>Breed/th>
			<th>Weight</th>
			<th>Phone Number</th>
			<th>Age</th>
		</tr>
	</thead>
	<tbody>
		{{!-- Our Handlebars code goes here! --}}

		{{#each data}}
			<tr data-id={{id}}>
				<td>{{petName}}</td>
				<td>{{breed}}</td>
				<td>{{weight}}</td>
				<td>{{age}}</td>
				{{!-- to add delete button later --}}
				{{!-- <td><span class="delete glyphicon glyphicon-remove"></span></td> --}}
			</tr>
		{{/each}}
	</tbody>
</table>
{{/if}}

{{#if bathroomHabits}}
    <h2>Bathroom visits</h2>
    <table>
        <th>
            <td>Date</td><td>Time</td><td>Location</td>
        </th>
        {{#each bathroomHabits}}
            <tr>
                <td>{{date}}</td><td>{{time}}</td><td>{{location}}</td>
            </tr>
        {{/each}}
    </table>
{{/if}}

{{#if vaccinations}}
    <h2>Vaccination records</h2>
    <table>
        <th>
            <td>Date</td><td>Vaccination name</td><td>Recurrence</td>
        </th>
        {{#each vaccinations}}
            <tr>
                <td>{{date}}</td><td>{{vaccinationName}}</td><td>{{recurrence}}</td>
            </tr>
        {{/each}}
    </table>    
{{/if}}


<a class="btn btn-primary" href="/home" role="button">Add </a>