<div class="vertical-center" id="index-page">

{{!-- NEW SECTION --}}

{{#if petInfo}}
	<h2>Pet Info</h2>

	<a class="nav-button btn btn-success float-right" href="/home" role="button"><i class="fas fa-home"></i></a>

	<br><br>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Pet Name</th>
				<th>Breed</th>
				<th>Weight</th>
				<th>Age</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each data}}
			<tr data-id={{id}}>
				<td>{{petName}}</td>
				<td>{{breed}}</td>
				<td>{{weight}}</td>
				<td>{{age}}</td>
				<td><i class="far fa-times-circle" id="deletePetInfo"></i></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<br>
	<a class="nav-button btn btn-primary" href="/petinfo/add" role="button">Add Pet Info</a>
{{/if}}

{{!-- NEW SECTION --}}

{{#if health}}

<h2>Health info underconstruction.</h2>

{{/if}}

{{!-- NEW SECTION --}}

{{#if vetInfo}}
	<h2>Vet Info</h2>

	<a class="nav-button btn btn-primary" href="/vetinfo/add" role="button">Add Vet Info</a>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Hospital</th>
				<th>Vet Name</th>
				<th>Weight</th>
				<th>Phone Number</th>
				<th>Address</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{!-- Our Handlebars code goes here! --}}
			{{#each data}}
			<tr data-id={{id}}>
				<td>{{hospital}}</td>
				<td>{{vetName}}</td>
				<td>{{phoneNumber}}</td>
				<td>{{address}}</td>
				{{!-- to add delete button later --}}
				{{!-- <td><span class="delete glyphicon glyphicon-remove"></span></td> --}}
			</tr>
			{{/each}}
		</tbody>
	</table>
{{/if}}

{{!-- SECTION --}}

	{{#if vaccinations}}
	<h2>Vaccinations</h2>

	<a class="nav-button btn btn-primary" href="/vaccinations/add" role="button">Add Vaccination Info</a>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Vaccines</th>
				<th>Vaccine Date</th>
				<th>Vaccine Expirations</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{!-- Our Handlebars code goes here! --}}
			{{#each data}}
			<tr data-id={{id}}>
				<td>{{vaccines}}</td>
				<td>{{vaccineDate}}</td>
				<td>{{expires}}</td>
				{{!-- to add delete button later --}}
				{{!-- <td><span class="delete glyphicon glyphicon-remove"></span></td> --}}
			</tr>
			{{/each}}
		</tbody>
	</table>
{{/if}}

{{!-- NEW SECTION --}}

{{#if activityTracker}}
	<h2>Activity Tracker</h2>

	<a class="nav-button btn btn-success float-right" href="/home" role="button"><i class="fas fa-home"></i></a>

	<br><br>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Activity Type</th>
				<th>Start/Stop</th>
				<th>When</th>
				<th>Notes</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each data}}
			<tr data-id={{id}}>
				<td>{{activityType}}</td>
				<td>{{startOrStop}}</td>
				<td>{{createdAt}}</td>
				<td>{{notes}}</td>
				<td><i class="far fa-times-circle" id="deleteActivity"></i></td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<br>

	<a class="nav-button btn btn-primary" href="/activity/add" role="button">Add Activity</a>
{{/if}}

{{!-- NEW SECTION --}}

{{#if dietTracker}}
	<h2>Diet Tracker</h2>

	<a class="nav-button btn btn-success float-right" href="/home" role="button"><i class="fas fa-home"></i></a>

	<br><br>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Meal Type</th>
				<th>When</th>
				<th>Notes</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each data}}
			<tr data-id={{id}}>
				<td>{{mealType}}</td>
				<td>{{createdAt}}</td>
				<td>{{notes}}</td>
				<td><i class="far fa-times-circle" id="deleteDiet"></i></td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<br>

	<a class="nav-button btn btn-primary" href="/diet/add" role="button">Add Meal</a>
{{/if}}

{{!-- SECTION --}}

{{#if pottyTracker}}

	<h2>Potty Tracker</h2>

	<a class="nav-button btn btn-success float-right" href="/home" role="button"><i class="fas fa-home"></i></a>

	<br><br>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Potty Type</th>
				<th>When</th>
				<th>Notes</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each data}}
			<tr data-id={{id}}>
				<td>{{pottyType}}</td>
				<td>{{createdAt}}</td>
				<td>{{notes}}</td>
				<td><i class="far fa-times-circle" id="deletePotty"></i></td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<br>

	<a class="nav-button btn btn-primary" href="/potty/add" role="button">Add Potty Info</a>
{{/if}}

{{!-- SECTION --}}

{{#if hygiene}}

	<h2>Hygiene Info</h2>

	<a class="nav-button btn btn-success float-right" href="/home" role="button"><i class="fas fa-home"></i></a>

	<br><br>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Hygiene Type</th>
				<th>When</th>
				<th>Notes</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each data}}
			<tr data-id={{id}}>
				<td>{{hygieneType}}</td>
				<td>{{createdAt}}</td>
				<td>{{notes}}</td>
				<td><i class="far fa-times-circle" id="deleteHygiene"></i></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	
	<br>

	<a class="nav-button btn btn-primary" href="/hygiene/add" role="button">Add Hygiene Info</a>
{{/if}}

{{!-- NEW SECTION --}}

{{#if favorites}}
	<h2>Favorites is under construction.</h2>
{{/if}}

</div>
