<h1>{{category}} Page</p>

{{!-- var routesList = ["petinfo","health", "activity", "diet","potty","hygiene"]; --}}

{{#if }}
    <h2>Pet Info</h2>
    <table>
        <th>
            <td>Pet Name</td>
            <td>Breed</td>
            <td>Weight</td>
            <td>Age</td>
        </th>
        {{#each petInfo}}
            <tr>
                <td>{{petName}}</td>
                <td>{{breed}}</td>
                <td>{{weight}}</td>
                <td>{{age}}</td>
            </tr>
        {{/each}}
    </table>
{{/if}}

{{#if bathroomHabits}}
    <h2>Bathroom visits</h2>
    <table>
        <th>
            <td>Date</td><td>Time</td><td>Location</td>
        </th>
        {{#each bathroomHabits}}
            <tr>
                <td>{{date}}</td><td>{{time}}</td><td>{{location}}</td>
            </tr>
        {{/each}}
    </table>
{{/if}}

{{#if vaccinations}}
    <h2>Vaccination records</h2>
    <table>
        <th>
            <td>Date</td><td>Vaccination name</td><td>Recurrence</td>
        </th>
        {{#each vaccinations}}
            <tr>
                <td>{{date}}</td><td>{{vaccinationName}}</td><td>{{recurrence}}</td>
            </tr>
        {{/each}}
    </table>    
{{/if}}


<a class="btn btn-primary" href="/home" role="button">Add </a>